{
  "kafka": {
    "brokers": ["localhost:9092"],
    "edge_generator": {
      "reader": {
        "topic": "cti-pulses",
        "group_id": "cti-miner"
      },
      "writer": {
        "topic": "cti-edges"
      }
    }
  },
  "otx": {
    "api_key": "your-otx-api-key"
  }
}
